services:
  odoo:
    container_name: odoo
    build: .
    restart: always
    volumes:
      - ./addons:/mnt/extra-addons/:rw
      - ./config/odoo:/etc/odoo/:rw
      - odoo-web-data:/var/lib/odoo/:rw
    ports:
      - "8069:8069"
    depends_on:
      - "db"
    networks:
      - odoo_network
    labels:
      - "coolify.managed=true"

  db:
    image: postgres:13
    restart: always
    container_name: postgresql
    environment:
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_DB=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo_network
    logging:
      driver: json-file
      options:
        max-size: "30m"
        max-file: "10"

networks:
  odoo_network:
    driver: bridge

volumes:
  odoo-web-data:
  odoo-db-data:
